<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Поиск лекарств</title>
		<style>
			.title {
				display: block;
				width: auto;
				text-align: center;
			}
			.search-form {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
			table {
				width: 100%;
				border-collapse: collapse;
			}
			th, td {
				border: 1px solid black;
				padding: 8px;
				text-align: left;
			}
			th {
				background-color: #f2f2f2;
				cursor: pointer;
			}
			.table-header-sort-dir {
				font-weight: normal;
				margin-left: 5px;
			}
			.search-result-footer {
				background-color: #f2f2f2;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div>
			<span class="title">Поиск лекарств</span>
			<form action="/" method="post" class="search-form">
				<div>
					<label for="shop">Магазин</label>
					<select id="shop" name="shop">
						<option value="all" selected>Все</option>
						<option value="magnit">Магнит</option>
						<option value="rigla">Ригла</option>
						<option value="aptekaru">Аптека Ру</option>
					</select>
				</div>
				<div>
					<label for="category">Категория</label>
					<select id="category" name="category">
						<option value="all" selected>Все</option>
						<option value="dermacosmetika">Дермакосметика</option>
						<option value="dlapishevoreniya">Для пищеварения</option>
						<option value="vitaminiibad">Витамины и БАД</option>
					</select>
				</div>
				<div>
					<label for="min_price">Минимальная цена</label>
					<input type="range" id="min_price" name="min_price" min="{{ price_range[0] }}" max="{{ price_range[1] }}" value="{{ price_range[0] }}">
					<input type="text" id="min_priceValue" name="min_priceValue" value="{{ price_range[0] }}" placeholder="Минимальная цена">
				</div>
				<div>
					<label for="max_price">Максимальная цена</label>
					<input type="range" id="max_price" name="max_price" min="{{ price_range[0] }}" max="{{ price_range[1] }}" value="{{ price_range[1] }}">
					<input type="text" id="max_priceValue" name="max_priceValue" value="{{ price_range[1] }}" placeholder="Максимальная цена">
				</div>
				<script>
					const min_priceSlider = document.getElementById("min_price");
					const min_priceValue = document.getElementById("min_priceValue");
					const max_priceSlider = document.getElementById("max_price");
					const max_priceValue = document.getElementById("max_priceValue");
					min_priceSlider.oninput = function(e) {
						min_priceValue.value = e.target.value;
						if (parseInt(e.target.value) > parseInt(max_priceValue.value)) {
							max_priceSlider.value = e.target.value;
							max_priceValue.value = e.target.value;
						}
					};
					max_priceSlider.oninput = function(e) {
						max_priceValue.value = e.target.value;
						if (parseInt(e.target.value) < parseInt(min_priceValue.value)) {
							min_priceSlider.value = e.target.value;
							min_priceValue.value = e.target.value;
						}
					};
					min_priceValue.onchange = function() {
						min_priceSlider.value = Math.min(Math.max(parseInt(min_priceValue.value), min_priceSlider.min), min_priceSlider.max) || min_priceSlider.min;
						min_priceValue.value = Math.min(Math.max(parseInt(min_priceValue.value), min_priceSlider.min), min_priceSlider.max) || min_priceSlider.min;
					};
					max_priceValue.onchange = function() {
						max_priceSlider.value = Math.min(Math.max(parseInt(max_priceValue.value), max_priceSlider.min), max_priceSlider.max) || max_priceSlider.max;
						max_priceValue.value = Math.min(Math.max(parseInt(max_priceValue.value), max_priceSlider.min), max_priceSlider.max) || max_priceSlider.max;
					};
				</script>
				<div>
					<label for="discount">Со скидкой</label>
					<input type="checkbox" id="discount" name="discount" />
				</div>
				<div>
					<label for="search">Поиск</label>
					<input type="search" id="search" name="name" placeholder="Введите запрос">
					<button type="submit">Найти</button>
				</div>
			</form>
			{% if items %}
				<table id="search-result">
					<caption>Результат поиска</caption>
					<thead>
						<tr>
							<th onclick="sortTable(0)">Магазин<span class="table-header-sort-dir"></span></th>
							<th onclick="sortTable(1)">Категория<span class="table-header-sort-dir"></span></th>
							<th onclick="sortTable(2)">Наименование<span class="table-header-sort-dir"></span></th>
							<th onclick="sortTable(3)">Цена<span class="table-header-sort-dir"></span ></th>
							<!-- <th>Цена без скидки</th> -->
							<!-- <th>Ссылка</th> -->
							<!-- <th>Картинка</th> -->
						</tr>
					</thead>
					<script>
						function sortTable(n) {
							var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
							table = document.getElementById("search-result");
							theaders = document.querySelectorAll("#search-result > thead > tr > th");
							for (i = 0; i < theaders.length; i++) {
								header = theaders[i];
								hspan = header.getElementsByTagName('span')[0];
								hspan.innerHTML = '';
							}
							switching = true;
							dir = "asc";
							while (switching) {
								switching = false;
								rows = table.rows;
								for (i = 1; i < (rows.length - 1); i++) {
									shouldSwitch = false;
									x = rows[i].getElementsByTagName("TD")[n];
									y = rows[i + 1].getElementsByTagName("TD")[n];
									if (dir == "asc") {
										xspan = x.getElementsByTagName('span');
										yspan = y.getElementsByTagName('span');
										if (xspan.length > 0 && yspan.length > 0) {
											if (Number(xspan[0].innerHTML) > Number(yspan[0].innerHTML)) {
												shouldSwitch = true;
												break;
											}
										} else {
											if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
												shouldSwitch = true;
												break;
											}
										}
									} else if (dir == "desc") {
										xspan = x.getElementsByTagName('span');
										yspan = y.getElementsByTagName('span');
										if (xspan.length > 0 && yspan.length > 0) {
											if (Number(xspan[0].innerHTML) < Number(yspan[0].innerHTML)) {
												shouldSwitch = true;
												break;
											}
										} else {
											if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
												shouldSwitch = true;
												break;
											}
										}
									}
								}
								if (shouldSwitch) {
									rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
									switching = true;
									switchcount ++;
								} else {
									if (switchcount == 0 && dir == "asc") {
										dir = "desc";
										switching = true;
									}
								}
							}
							header = theaders[n];
							hspan = header.getElementsByTagName('span')[0];
							if (dir === 'asc') {
								hspan.innerHTML = '↓';
							} else if (dir === 'desc') {
								hspan.innerHTML = '↑';
							}
						}
					</script>
					<tbody>
						{% for item in items %}
							<tr>
								<td>{{ item[0] }}</td>
								<td>{{ item[1] }}</td>
								<td><a href="{{ item[5] }}" target="_blank" rel="noopener noreferrer">{{ item[2] }}</a></td>
								{% if item[3] == item[4] %}
									<td><span>{{ item[3] }}</span></td>
								{% else %}
									<td><span>{{ item[3] }}</span> <s><small>{{ item[4] }}</small></s></td>
								{% endif %}
							</tr>
							<!-- <td>{{ item[4] }}</td> -->
							<!-- <td>{{ item[5] }}</td> -->
							<!-- <td>{{ item[6] }}</td> -->
						{% endfor %}
					</tbody>
					{% if items_amount > items_show_limit %}
						<tfoot>
							<tr>
								<td class="search-result-footer" colspan="4">Еще {{ items_amount - items_show_limit }} товаров...</td>
							</tr>
						</tfoot>
					{% endif %}
				</table>
			{% endif %}
		</div>
	</body>
</html>