<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Поиск лекарств</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
	</head>
	<body>
		<div>
			{% if exception %}
				<span>{{ exception }}</span>
			{% endif %}
			<span class="title">Поиск лекарств</span>
			<form action="/" method="post" class="search-form">
				<div>
					<label for="shop">Магазин</label>
					<select id="shop" name="shop">
						<option value="all" selected>Все</option>
						<option value="magnit">Магнит</option>
						<option value="rigla">Ригла</option>
						<option value="aptekaru">Аптека Ру</option>
					</select>
				</div>
				<div>
					<label for="category">Категория</label>
					<select id="category" name="category">
						<option value="all" selected>Все</option>
						<option value="dermacosmetika">Дермакосметика</option>
						<option value="dlapishevoreniya">Для пищеварения</option>
						<option value="vitaminiibad">Витамины и БАД</option>
					</select>
				</div>
				{% if price_range %}
					<div>
						<label for="min_price">Минимальная цена</label>
						<input type="range" id="min_price" name="min_price" min="{{ price_range[0] }}" max="{{ price_range[1] }}" value="{{ price_range[0] }}">
						<input type="text" id="min_priceValue" name="min_priceValue" value="{{ price_range[0] }}" placeholder="Минимальная цена">
					</div>
					<div>
						<label for="max_price">Максимальная цена</label>
						<input type="range" id="max_price" name="max_price" min="{{ price_range[0] }}" max="{{ price_range[1] }}" value="{{ price_range[1] }}">
						<input type="text" id="max_priceValue" name="max_priceValue" value="{{ price_range[1] }}" placeholder="Максимальная цена">
					</div>
				{% endif %}
				<div>
					<label for="discount">Со скидкой</label>
					<input type="checkbox" id="discount" name="discount" />
				</div>
				{% if price_range %}
					<div>
						<label for="search">Поиск</label>
						<input type="search" id="search" name="name" placeholder="Введите запрос">
						<button type="submit">Найти</button>
					</div>
				{% endif %}
			</form>
			{% if items %}
				<table id="search-result">
					<caption>Результат поиска</caption>
					<thead>
						<tr>
							<th onclick="sortTable(0)">Магазин<span class="table-header-sort-dir"></span></th>
							<th onclick="sortTable(1)">Категория<span class="table-header-sort-dir"></span></th>
							<th onclick="sortTable(2)">Наименование<span class="table-header-sort-dir"></span></th>
							<th onclick="sortTable(3)">Цена<span class="table-header-sort-dir"></span ></th>
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
							<tr>
								<td>{{ item['Магазин'] }}</td>
								<td>{{ item['Категория'] }}</td>
								<td><a href="{{ item[Ссылка] }}" target="_blank" rel="noopener noreferrer">{{ item['Название'] }}</a></td>
								{% if item['Цена'] == item['Цена без скидки'] %}
									<td><span>{{ item['Цена'] }}</span></td>
								{% else %}
									<td><span>{{ item['Цена'] }}</span> <s><small>{{ item['Цена без скидки'] }}</small></s></td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
					{% if items_amount > items_show_limit %}
						<tfoot>
							<tr>
								<td class="search-result-footer" colspan="4">Еще {{ items_amount - items_show_limit }} товаров...</td>
							</tr>
						</tfoot>
					{% endif %}
				</table>
			{% endif %}
		</div>
	</body>
</html>